
        <div id="dialog"></div>
        <div id="modal">
            <div>
                <h2>Title</h2>
                <div class="modalContent"></div>
            </div>
        </div>

        <div class="wrap">

            <div class="sidebar">
                <div class="title"></div>

                <div class="pages"></div>

                <ul class="minor">
                    <li><a href="/history"><i class="fa fa-fw fa-line-chart"></i> <span>History</span></a></li>
                    <li><a href="/property"><i class="fa fa-fw fa-list"></i> <span>Properties</span></a></li>
                    <li><a href="/device"><i class="fa fa-fw fa-wifi"></i> <span>Devices</span></a></li>
                    <li><a href="/group"><i class="fa fa-fw fa-object-group"></i> <span>Groups</span></a></li>
                    <li><a href="/schedule"><i class="fa fa-fw fa-clock-o"></i> <span>Schedules</span></a></li>
                    <li><a href="/profile"><i class="fa fa-fw fa-users"></i> <span>Profiles</span></a></li>
                    <li><a href="/ndevice"><i class="fa fa-fw fa-tablet"></i> <span>Mobile Devices</span></a></li>
                    <li><a href="/trigger"><i class="fa fa-fw fa-bell-o"></i> <span>Triggers</span></a></li>
                    <li><a href="/options"><i class="fa fa-fw fa-wrench"></i> <span>Options</span></a></li>
                    <li><a href="/repeater"><i class="fa fa-fw fa-copy"></i> <span>Repeater</span></a></li>

                    <!-- <li>
                        <a href="/console">Console</a>
                    </li> -->

                </ul>
            </div>


            <div class="wrapper">
                <header>
                    <a href="#" class="menu">
                        <i class="fa fa-3x fa-bars"></i>
                    </a>
                    <h1></h1>
                </header>
                
                <div class="main"></div>
                <!-- <footer>
                    <ul>
                        <li><i class="fa fa-fw fa-line-chart"></i> History</li>
                        <li><i class="fa fa-fw fa-pie-chart"></i> Usage</li>
                    </ul>
                </footer> -->
            </div>

            <!-- <div class="additional"></div> -->

        </div>