<div class="form">
    <ul>
        
        <li>
            <span class="label">Latitude</span>
            <span class="latitude"><%=latitude%></span>
        </li>

        <li>
            <span class="label">Longitude</span>
            <span class="longitude"><%=longitude%></span>
        </li>

        <li>
            <span class="label">
                Timezone
                <span class="small">Timezone for sunset triggers</span>
            </span>
            <span class="timezone"><%=timezone%></span>
        </li>

        <li>
            <span class="label">Heating Read Property</span>
            <span class="heating_reading_property"></span>
        </li>

        <li>
            <span class="label">Heating Control Property</span>
            <span class="heating_control_property"></span>
        </li>

        <li>
            <span class="label">Profile Executer</span>
            <span class="profile_exec_property"></span>
        </li>

        <li>
            <span class="label">
                Email To
                <span class="small">Used for property triggers</span>
            </span>
            <span class="trigger_email_to"><%=trigger_email_to%></span>
        </li>

        <li>
            <span class="label">
                Scan Interface
                <span class="small">Interface used to scan for new homie devices</span>
            </span>
            <span class="scan_interface"><%=scan_interface%></span>
        </li>

        <li>
            <span class="label">Archiver Source</span>
            <span class="archiver_source_property"></span>
        </li>
        
        <li>
            <span class="label">Archiver Root</span>
            <span class="archiver_root"><%=archiver_root%></span>
        </li>

    </ul>
</div>

<h1>Pages</h1>
<a href="#" class="button add r"><i class="fa fa-plus"></i> Add Page</a>
<div class="rp"></div>
