[Unit]
Description=HA Control Service
After=multi-user.target mosquitto.service

[Service]
Type=idle
Restart=always
ExecStart=/usr/bin/python /path/to/homie-control/devices/manage.py

[Install]
WantedBy=multi-user.target
