[Unit]
Description=HA Control Service
After=mosquitto.service mysql.service
Wants=mosquitto.service mysql.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python /path/to/homie-control/devices/manage.py

[Install]
WantedBy=multi-user.target
