<form>
    
    <div class="form">
        <ul>
            <li>
                <label>Friendly Name
                    <span class="small">Friendly name of the device</span>
                </label>
                <input type="text" name="friendlyname" />
            </li>

            <li>
                <label>Device String</label>
                <input type="text" name="devicestring" />
            </li>

            <li>
                <label>Node String</label>
                <input type="text" name="nodestring" />
            </li>

            <li>
                <label>Property String</label>
                <input type="text" name="propertystring" />
            </li>
            
            <li>
                <label>Type</label>
                <select name="propertytypeid"></select>
            </li>
        </ul>
        
        <button name="submit" value="1" type="submit" class="button submit">Add Property</button>
    </div>
    
</form>
