<div class="zone single">
    <div class="g"></div>
    <h2 class="name"></h2>
    <div class="inner">
        <ul>
            <li>
                <span class="status temp">N/A</span></i>&deg;
            </li>
            <li>
                <a href="#" class="enable"><i class="fa fa-2x fa-power-off"></i></a>
                <a href="#" class="speed"><i class="fa fa-2x fa-tachometer"></i></a>
            	<a href="#" class="sleep"><i class="fa fa-2x fa-bed"></i></a>
            </li>
        </ul>
    </div>
</div>

<div class="zones heating"></div>