<div class="grid-container">

	<div class="calendar top">
		<div class="time"></div>
		<div class="date"></div>
	</div>

	<div class="temperatures top">
		<div class="indoors">
			<i class="fa fa-home"></i> <span class="current"></span>&deg; <i class="wi icon"></i>
		</div>
		<div class="outdoors">
			<i class="wi wi-day-sunny"></i> <span class="sun"></span>&deg; 
			<i class="wi wi-cloud"></i> <span class="shade"></span>&deg;
		</div>
		<div class="today">
			<i class="wi wi-strong-wind"></i> 
			<span class="windspeed"></span> 
			<i class="wi wi-wind winddir"></i> 
			(<span class="gustspeed"></span>) kph
			
			&nbsp;
			&nbsp;

			<i class="wi wi-umbrella"></i> 
			<span class="pop"></span>%
		</div>
	</div>


	
	<!-- <div class="middle rradar"></div> -->
	<div class="middle">
		<div class="vb">
			<div class="transport"></div>
		</div>
	</div>
	<div class="middle">
		<div class="camera"></div>
		<div class="vb">
			<div class="energy">
				<h1>Energy</h1>
				<i class="fa fa-bolt"></i> <span class="power"></span>W
			</div>
			<div class="daapd">
				<div class="daapd-scroll">
					<div>
						<i class="fa fa-music"></i> &nbsp;
						<span class="track"></span> &nbsp;
						- &nbsp;
						<span class="artist"></span> &nbsp;
						(<span class="album"></span>)
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bottom">
		<div class="rradar"></div>
		
	</div>
	<div class="weather bottom"></div>

</div>