<div class="grid-container">

	<div class="calendar top">
		<div class="time"></div>
		<div class="date"></div>
	</div>

	<div class="temperatures top">
		<div class="indoors">
			<i class="fa fa-home"></i> <span class="current"></span>&deg; <i class="wi icon"></i>
		</div>
		<div class="outdoors">
			<i class="wi wi-day-sunny"></i> <span class="sun"></span>&deg; 
			<i class="wi wi-cloud"></i> <span class="shade"></span>&deg;
		</div>
		<div class="today">
			<i class="wi wi-strong-wind"></i> 
			<span class="windspeed"></span> 
			<i class="wi wi-wind winddir"></i> 
			(<span class="gustspeed"></span>) kph
			
			&nbsp;
			&nbsp;

			<i class="wi wi-umbrella"></i> 
			<span class="pop"></span>%
		</div>
	</div>

	<div class="middle"></div>
	<div class="middle camera"></div>

	<div class="bottom">
		<div class="transport"></div>
		<div class="energy">
			<h1>Energy</h1>
			<i class="fa fa-bolt"></i> <span class="power"></span>W
		</div>
	</div>
	<div class="weather bottom"></div>

</div>