<div class="zone single">
    <div class="g"></div>
    <h2 class="name"></h2>
    <div class="inner">
        <ul>
            <li>
                <span class="status temp">N/A</span></i>&deg;
            </li>
            <li>
                <a href="#" class="enable"><i class="fa fa-2x fa-power-off fa-spinner"></i></a>
            	<a href="#" class="auto"><i class="fa fa-2x fa-magic fa-spinner"></i></a>
                <a href="#" class="pump"><i class="fa fa-2x fa-fire"></i></a>
            </li>
        </ul>
    </div>
</div>

<div class="zones heating"></div>