<div class="status">
    <ul>
        <li>
            <span class="title">Sun Temp</span>
            <span class="value fsun"></span><span class="unit">&deg;</span>
        </li>
        <li>
            <span class="title">Shade Temp</span>
            <span class="value fshade"></span><span class="unit">&deg;</span>
        </li>
        <li>
            <span class="title">Reservoir Status</span>
            <span class="value fres"></span>
        </li>
    </ul>
</div>

<div class="zones"></div>
