<div class="controls r">
    <a href="#" class="button prev"><i class="fa fa-fw fa-step-backward"></i></a>
    <a href="#" class="button playing"><i class="fa fa-fw "></i></a>
    <a href="#" class="button next"><i class="fa fa-fw fa-step-forward"></i></a>
</div>

<div class="fav">
    <select name="fav"></select>
    <a href="#" class="button load"><i class="fa fa-fw fa-database"></i></a>
</div>

<div class="cover">
    <img title="Album Cover" src="<%-appurl%>/assets/images/no-cover.png" />
</div>

<div class="progress">
    <span class="elapsed"></span><progress></progress><span class="remain"></span>
</div>

<div class="meta">
    <span class="artist"></span>
    -
    <span class="album"></span>
    -
    <span class="track"></span>
</div>
