<div class="status">
    <ul>
        <li>
            <span class="title">Summary</span>
            <span class="value"><i class="wi icon"></i></span>
        </li>
        <li>
            <span class="title">Temperature</span>
            <span class="value"><i class="wi wi-thermometer"></i></span>
            <span class="value temperature"></span> 
            <span class="value">(</span><span class="value feelslike"></span><span class="value">)</span>
            <span class="unit">&deg;</span>
        </li>
        <li>
            <span class="title">Wind</span>
            <span class="value"><i class="wi wi-strong-wind"></i></span>
            <span class="value windspeed"></span> 
            <span class="value"><i class="wi wi-wind winddir"></i></span>
            <span class="value">(</span><span class="value gustspeed"></span><span class="value">)</span>
            <span class="unit">kph</span>
        </li>
        <li>
            <span class="title">Probability of Precipitation</span>
            <span class="value"><i class="wi wi-umbrella"></i></span>
            <span class="value pop"></span>
            <span class="unit">%</span>
        </li>
        <li>
            <span class="title">Humidity</span>
            <span class="value"><i class="wi wi-humidity"></i></span>
            <span class="value humidity"></span>
            <span class="unit">%</span>
        </li>
    </ul>
</div>

<div class="forecasts"></div>

<div class="status">
    <ul>
        <li>
            <span class="title">Sunrise</span>
            <span class="value"><i class="wi wi-sunrise"></i></span>
            <span class="value sunrise"></span>
        </li>
        <li>
            <span class="title">Sunset</span>
            <span class="value"><i class="wi wi-sunset"></i></span>
            <span class="value sunset"></span>
        </li>
        <li>
            <span class="title">Moon Phase</span>
            <span class="value"><i class="wi moonphase"></i></span>
        </li>
    </ul>
</div>
