<h2 class="name"></h2>
<div class="inner">
    <ul class="weather">
        <li><i class="wi icon"></i></li>
        <li>
            <i class="wi wi-thermometer-exterior"></i>
            <span class="templow"></span>&deg;
            <i class="wi wi-thermometer"></i>
            <span class="temphigh"></span>&deg;
        </li>
        </li>
        
            <i class="wi wi-strong-wind"></i>
            <span class="wind"></span>
            (<span class="gust"></span>)
            kph
            <i class="wi wi-wind winddir"></i>
        </li>
        <li>
            <span class="pop"></span>% <i class="wi wi-umbrella"></i>
        </li>
    </ul>
</div>
