<div class="overview">
    <a href="#" class="enabled" title="Enabled"><i class="fa fa-2x fa-power-off"></i></a>
    <a href="#" class="boost" title="Temporarily Boost"><i class="fa fa-2x fa-rocket"></i></a>
    <a href="#" class="away" title="Set Away"><i class="fa fa-2x fa-road"></i></a>

    <a href="#" class="heat" title="Boiler Running"><i class="fa fa-2x fa-fire"></i></a>
    <a href="#" class="scheduled" title="Scheduled"><i class="fa fa-2x fa-clock-o"></i></a>
</div>

<div class="zones zheating"></div>
<div class="zones temps"></div>
